{% extends 'todo/base.html' %}

{% block title %}Create new task{% endblock title %}

{% block content %}
<div class="container">
    {{ form.non_field_errors }}
    <form method="post" novalidate> 
        {% csrf_token %}
        <div class="form-group">
            
            <label for="{{ form.header.id_for_label }}">Task: </label>
            {{ form.header }}
            {% if form.header.errors %}
            <script>document.getElementById("{{ form.header.id_for_label }}").className += ' is-invalid'</script>
            <div class="invalid-feedback">{{ form.header.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.description.errors}}
            <label for="{{ form.description.id_for_label }}">Desctiption: </label>
            {{ form.description }}
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
