{% extends "todo/base.html" %}

{% block title %} TODO list {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if data %}
      <ol>
        {% for item in data %}
        <li>
          <ul>
            <li><strong>Header:</strong> {{ item.header }}</li>
            <li><strong>Description:</strong> {{ item.description }}</li>
            <li><strong>Done:</strong> {{ item.isDone }}</li>
          </ul>
        </li>
        {% endfor %}
      </ol>
      {% else %}
        There is no data here
      {% endif %}
    </div>
    </div>  
</div>
{% endblock content %}