{% extends "todo/base.html" %}

{% block title %} TODO list {% endblock title %}

{% block content %}
<div class="container">
  <div class='card-deck'>
    {% for task in data %}
      <div class="card mb-3">
        <div class="card-header">Task #{{ forloop.counter }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ task.header }}</h4>
          <p class="card-text">{{ task.description }}</p>
        </div>
        <div class="card-footer">
            <a class="card-link btn btn-success" href="#">Done</a>
        </div>
      </div>
      {% cycle '' '' '' '</div><div class="card-deck">' %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
