{% extends "todo/base.html" %}

{% block title %} TODO list {% endblock title %}

{% block content %}
<div class="container">
  {% if data %}
    {% if messages %}
      {% for msg in messages %}
      <div class="alert {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}" role="alert">
        <strong>Congradulations!</strong> Task is now done.
      </div>
      {% endfor %}
    {% endif %}
    <div class='card-deck'>
      {% for task in data %}
        <div class="card mb-3">
          <div class="card-header">Task #{{ forloop.counter }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ task.header }}</h4>
            <p class="card-text">{{ task.description }}</p>
          </div>
          <div class="card-footer">
            <form method="post" action="{% url 'todo:make_done' task.pk %}">
              {% csrf_token %}
              <button class="card-link btn btn-success">Done</button>
            </form>
          </div>
        </div>
        {% cycle '' '' '' '</div><div class="card-deck">' %}
      {% endfor %}
    </div>
    {% else %}
    <h1>You have no tasks yet</h1>
    {% endif %}
</div>
{% endblock content %}
